text {
  width: 30%;
  text-align: center;
  background-color: white;
  border: 1px solid #ccc;
  border-color: black;
  display: block;
  size: 100px;
}

.move {
  flex: right;
}

.ListItemHighlight {
  background: lightgray;
}
